apiVersion: source.toolkit.fluxcd.io/v1beta2
kind: OCIRepository
metadata:
  name: flux-instance
spec:
  interval: 5m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 0.20.0
  url: 'oci://ghcr.io/controlplaneio-fluxcd/charts/flux-instance'
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: flux-instance
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: flux-instance
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: flux-operator
      namespace: flux-system
  valuesFrom:
    - kind: ConfigMap
      name: flux-instance-values
  values:
    source-controller:
      resources: &ref_0
        requests:
          cpu: 100m
          memory: 256Mi
        limits:
          cpu: 500m
          memory: 512Mi
    kustomize-controller:
      resources: *ref_0
    helm-controller:
      resources: *ref_0
    notification-controller:
      resources: *ref_0
