---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: data-platform
resources:
  - postgres-cluster.yaml
  # - postgres-credentials.yaml  # Disabled until 1Password is configured
  - postgres-credentials-manual.yaml  # Temporary manual secret
  - postgres-monitoring.yaml
  - s3-credentials.yaml
  - helmrelease.yaml