apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app trino
  namespace: flux-system
spec:
  targetNamespace: data-platform
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  interval: 30m
  timeout: 10m
  prune: true
  wait: true
  path: ./kubernetes/apps/data-platform/trino/app
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  dependsOn:
    - name: data-platform
      namespace: flux-system
    - name: nessie
      namespace: flux-system